* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

textarea,
input,
button,
select,
a {
  outline: none;
  border-radius: 0;

  font-weight: 400;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  touch-action: manipulation;
}

html,
body {
  height: 100%;

  background-color: $black;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $white-100;
}

main {
  padding-top: 142px;
}

.render {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;

  background-color: $black;
}

.wrapper {
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  @include screen(mobile) {
    max-width: 640px;
  }
  @include screen(tablet) {
    max-width: 768px;
  }
  @include screen(tablet-2x) {
    max-width: 1024px;
  }
  @include screen(laptop) {
    max-width: 1280px;
  }
  @include screen(desktop) {
    max-width: 1536px;
  }
}

button {
  user-select: none;
}

section {
  padding: 90px 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}