* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

textarea,
input,
button,
select,
a {
  outline: none;
  border-radius: 0;

  font-weight: 400;
  touch-action: manipulation;
  @include inter;
}

html,
body {
  height: 100%;

  background-color: $black;

  color: $white-100;
  @include inter;
}

main {
  padding-top: 112px;
  @include screen(laptop) {
    padding-top: 200px;
  }
}

.render {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100%;
  height: 100%;

  background-color: $black;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: $black;
  svg {
    width: 64px;
    height: auto;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white-100;
  -webkit-box-shadow: 0 0 0px 1000px $black inset;
  transition: background-color 5000s ease-in-out 0s, border-color $transition-default;
  animation: autofill infinite linear;
}

.footer {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $white-100;
    -webkit-box-shadow: 0 0 0px 1000px $neutral-400 inset;
    transition: background-color 5000s ease-in-out 0s, border-color $transition-default;
    animation: autofill infinite linear;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 #{$container-padding};
  max-width: 100%;
  @include screen(mobile) {
    max-width: calc(#{$screen-mobile} + #{$container-padding * 2});
  }
  @include screen(tablet) {
    max-width: calc(#{$screen-tablet} + #{$container-padding * 2});
  }
  @include screen(tablet-2x) {
    max-width: calc(#{$screen-tablet-2x} + #{$container-padding * 2});
  }
  @include screen(laptop) {
    max-width: calc(#{$screen-laptop} + #{$container-padding * 2});
  }
  @include screen(desktop) {
    max-width: calc(#{$screen-desktop} + #{$container-padding * 2});
  }
}

button {
  user-select: none;
}

.text__tip {
  margin-top: 24px;
  color: $neutral-100;
  @include body-1;
}

.pusher {
  display: flex;
  flex-direction: column;
  row-gap: 68px;
  padding-bottom: 60px;
  @include screen(tablet) {
    row-gap: 80px;
  }
  @include screen(laptop) {
    row-gap: 180px;
    padding-bottom: 100px;
  }
  @include screen(desktop) {
    row-gap: 200px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}