$transition-default: 0.3s;

$white: #ffffff;
$white-100: #e6e6e6;
$black: #030303;
$text-black: #020202;

$yellow: #f7d90b;

$neutral-100: #484848;
$neutral-200: #343434;
$neutral-400: #151515;

$text-caption: #5c5c5c;

$text-secondary: #b1b1b1;

$icon-gray: #5c5c5c;
$icon-gray-2: #a1a1a1;