@mixin screen($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1608px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint == tablet-2x {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (min-width: 375px) {
      @content;
    }
  }
}

@mixin actay-wide {
  font-weight: 700;
  font-family: "Actay", sans-serif;
}

@mixin actay {
  font-family: "Actay", sans-serif;
}

@mixin inter {
  font-family: "Inter", sans-serif;
}

@mixin line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

@mixin line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

@mixin xxl-bold-actay {
  font-size: 40px;
  line-height: 140%;
  font-weight: 700;
  @include actay-wide;
  @include screen(tablet) {
    font-size: 48px;
  }
  @include screen(laptop) {
    font-size: 80px;
  }
  @include screen(desktop) {
    font-size: 108px;
  }
}

@mixin xl-bold-actay {
  font-size: 36px;
  line-height: 150%;
  font-weight: 700;
  @include actay-wide;
  @include screen(tablet) {
    font-size: 44px;
  }
  @include screen(laptop) {
    font-size: 80px;
  }
  @include screen(desktop) {
    font-size: 100px;
  }
}

@mixin h1-actay {
  font-size: 36px;
  line-height: 120%;
  @include actay;
  @include screen(laptop) {
    font-size: 64px;
  }
}

@mixin h2-actay {
  font-size: 20px;
  line-height: 150%;
  @include actay;
  @include screen(tablet) {
    font-size: 18px;
  }
  @include screen(laptop) {
    font-size: 32px;
  }
}

@mixin h2 {
  font-size: 20px;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 18px;
  }
  @include screen(laptop) {
    font-size: 32px;
  }
}

@mixin h2-inter {
  font-size: 18px;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 18px;
  }
  @include screen(laptop) {
    font-size: 32px;
  }
}

@mixin h2-bold-actay {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  @include actay;
  @include screen(tablet) {
    font-size: 18px;
  }
  @include screen(laptop) {
    font-size: 32px;
  }
}

@mixin h3-md-inter {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 16px;
  }
  @include screen(laptop) {
    font-size: 24px;
  }
}

@mixin h3-actay {
  font-size: 18px;
  line-height: 150%;
  @include actay;
  @include screen(tablet) {
    font-size: 16px;
  }
  @include screen(laptop) {
    font-size: 24px;
  }
}


@mixin actay-faq {
  font-size: 14px;
  line-height: 150%;
  @include actay;
  @include screen(tablet) {
    font-size: 16px;
  }
  @include screen(laptop) {
    font-size: 28px;
  }
}

@mixin body-1 {
  font-size: 14px;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 12px;
  }
  @include screen(laptop) {
    font-size: 16px;
  }
}

@mixin body-2 {
  font-size: 16px;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 14px;
  }
  @include screen(laptop) {
    font-size: 20px;
  }
}

@mixin body-caption {
  font-size: 12px;
  line-height: 150%;
  @include screen(laptop) {
    font-size: 10px;
  }
  @include screen(laptop) {
    font-size: 14px;
  }
}

@mixin label-inter-accent {
  font-size: 24px;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 20px;
    line-height: 100%;
  }
  @include screen(laptop) {
    font-size: 40px;
    line-height: 130%;
  }
}

@mixin label-footer-h {
  font-size: 24px;
  line-height: 150%;
  @include screen(laptop) {
    font-size: 28px;
  }
}

@mixin label-name-actay-bold {
  font-size: 20px;
  line-height: 150%;
  @include actay-wide;
  @include screen(laptop) {
    font-size: 24px;
  }
}

@mixin label-h-numbering {
  font-size: 16px;
  line-height: 150%;
  @include screen(laptop) {
    font-size: 24px;
  }
}

@mixin label-h-numberin-semibold {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  @include screen(laptop) {
    font-size: 24px;
  }
}

@mixin label-day-active {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

@mixin label-12-m-medium {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  @include screen(laptop) {
    font-size: 16px;
  }
}

@mixin label-12 {
  @include screen(desktop) {
    font-size: 12px;
  }
}

@mixin label-14-12-m-medium {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  @include screen(tablet) {
    font-size: 12px;
  }
  @include screen(laptop) {
    font-size: 16px;
  }
}

@mixin label-class-name {
  font-size: 16px;
  line-height: 160%;
}

@mixin label-article-h1-semibold {
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  @include screen(tablet) {
    font-size: 16px;
  }
  @include screen(laptop) {
    font-size: 24px;
  }
}

@mixin label-article-h2-semibold {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  @include screen(tablet) {
    font-size: 14px;
  }
  @include screen(laptop) {
    font-size: 22px;
  }
}

@mixin label-article-h3-semibold {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  @include screen(tablet) {
    font-size: 13px;
  }
  @include screen(laptop) {
    font-size: 20px;
  }
}

@mixin label-article-h4-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 160%;
  @include screen(laptop) {
    font-size: 16px;
  }
}

@mixin label-article-body {
  font-size: 14px;
  line-height: 160%;
  @include screen(tablet) {
    font-size: 12px;
  }
  @include screen(laptop) {
    font-size: 16px;
  }
}

@mixin label-extra-sm-bold {
  font-size: 8px;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  @include screen(laptop) {
    font-size: 14px;
  }
}

@mixin button-bold {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  @include screen(tablet) {
    font-size: 12px;
  }
  @include screen(laptop) {
    font-size: 20px;
  }
}

@mixin button-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  @include screen(tablet) {
    font-size: 14px;
  }
  @include screen(laptop) {
    font-size: 20px;
  }
}

@mixin button-socials {
  font-size: 20px;
  line-height: 120%;
}