@mixin screen($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1536px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint == tablet-2x {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (min-width: 640px) {
      @content;
    }
  }
}

@mixin actay-bold {
  font-weight: 700;
  font-family: "Actay", sans-serif;
}

@mixin actay {
  font-family: "Actay", sans-serif;
}

@mixin inter {
  font-family: "Inter", sans-serif;
}

@mixin line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  overflow: hidden;
}