.article {
  padding: 24px;
  overflow: hidden;

  border-radius: 8px;
  background-color: $neutral-400;
  @include screen(laptop) {
    padding: 32px 48px;
  }
  h2 {
    margin: 24px 0;
    @include label-article-h1-semibold;
    &:first-child {
      margin-top: 0;
    }
    @include screen(laptop) {
      margin: 32px 0 24px;
    }
  }
  p {
    margin-top: 20px;

    @include label-article-body;
    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    margin: 24px 0 16px;
    @include label-article-h3-semibold;
    &:first-child {
      margin-top: 0;
    }
    @include screen(laptop) {
      margin: 32px 0 16px;
    }
  }
  ol {
    margin-top: 16px;
    list-style: disc;

    margin-left: 16px;
    li {
      margin-top: 8px;

      @include label-article-body;
    }
  }
  h3 {
    margin: 24px 0 16px;

    @include label-article-h3-semibold;
    &:first-child {
      margin-top: 0;
    }
    @include screen(laptop) {
      margin: 32px 0 20px;
    }
  }
  ul {
    list-style: decimal;

    margin-top: 16px;
    margin-left: 16px;
    li {
      margin-top: 8px;

      @include body-1;
    }
  }
  img {
    width: 100%;
    margin-top: 24px;
    &:first-child {
      margin-top: 0;
    }
    @include screen(laptop) {
      margin-top: 32px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    @include screen(laptop) {
      padding-bottom: 32px;
    }
  }
  &__date {
    position: relative;

    margin-left: 20px;
    padding-left: 20px;

    color: $text-caption;
    @include body-1;
    &:before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      width: 1px;
      height: 16px;

      background-color: $neutral-100;
      transform: translateY(-50%);
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
    @include screen(laptop) {
      margin-top: 32px;
    }
  }
  &__tag {
    padding: 8px 20px;

    border: 1px solid $neutral-200;
    border-radius: 100px;

    text-align: center;
    color: $text-secondary;
    @include body-1;
    @include screen(laptop) {
      padding: 8px 24px;
    }
  }
}