.article {
  padding: 32px 48px;
  h2 {
    margin-top: 32px;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin-top: 20px;

    font-size: 16px;
    line-height: 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    margin-top: 32px;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  ol {
    margin-top: 16px;
    list-style: disc;

    margin-left: 16px;
    li {
      margin-top: 8px;

      font-size: 16px;
      line-height: 24px;
    }
  }
  h3 {
    margin-top: 32px;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    &:first-child {
      margin-top: 0;
    }
  }
  ul {
    list-style: decimal;

    margin-top: 16px;
    margin-left: 16px;
    li {
      margin-top: 8px;

      font-size: 16px;
      line-height: 24px;
    }
  }
  img {
    margin-top: 32px;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  &__date {
    position: relative;

    margin-left: 20px;
    padding-left: 20px;

    font-size: 16px;
    line-height: 24px;
    color: $text-caption;
    &:before {
      content: "";

      position: absolute;
      top: 50%;
      left: 0;

      width: 1px;
      height: 16px;

      background-color: $neutral-100;
      transform: translateY(-50%);
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 32px;
  }
  &__tag {
    padding: 8px 24px;

    border: 1px solid $neutral-200;
    border-radius: 100px;

    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $text-secondary;
  }
}