.blog {
  &__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 64px;
    @include screen(laptop) {
      grid-template-columns: 288px 1fr;
      gap: 128px;
    }
  }
  &__aside {
    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 30px;
      border: 1px solid $neutral-200;
      border-radius: 100px;
      @include screen(laptop) {
        padding: 20px 36px;
      }
      span {
        text-transform: uppercase;
        @include body-2;
        @include screen(laptop) {
          transition: color $transition-default;
        }
      }
      svg {
        width: 24px;
        height: 24px;
        path {
          @include screen(laptop) {
            transition: fill $transition-default;
          }
        }
      }
      @include screen(laptop) {
        transition: border-color $transition-default;
      }
      @include screen(laptop) {
        &:hover {
          border-color: $yellow;
          span {
            color: $yellow;
          }
          svg {
            path {
              fill: $yellow;
            }
          }
        }
      }
    }
  }
  &__sticky {
    position: sticky;
    top: 140px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    max-height: calc(100vh - 170px)
  }
  &__subtitle {
    text-transform: uppercase;
    @include h3-actay;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
  }
  &__tag {
    padding: 8px 20px;
    border: 1px solid $neutral-200;
    border-radius: 100px;

    text-align: center;
    @include body-1;
    @include screen(laptop) {
      padding: 8px 24px;
      transition: color $transition-default;
      &:hover {
        color: $yellow;
      }
    }
  }
  &__articles {
    display: grid;
    row-gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include screen(laptop) {
      row-gap: 36px;
      column-gap: 24px;
    }
  }
  &__article {
    overflow: hidden;
    grid-column: span 2 / span 2;
    border-radius: 8px;
    background-color: $neutral-400;
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      padding: 16px 20px;
    }
    &__title {
      @include label-article-h1-semibold;
      @include line-clamp-2;

      @include screen(laptop) {
        @include label-article-h2-semibold;
      }
    }
    &__text {
      @include body-1;
      @include line-clamp-2;
    }
    &__image {
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
        height: 186px;
        @include screen(laptop) {
          height: 337px;
        }
      }
    }
    &__more {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.7);

      text-transform: uppercase;
      color: $yellow;

      transition: opacity $transition-default, z-index $transition-default;
      opacity: 0;
      @include h2-actay;
    }
    &:hover {
      .blog__article__more {
        opacity: 1;

        z-index: 10;
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 20px;
    }
    &__time,
    &__category {
      color: $text-caption;
      @include body-1;
    }
    &-wide {
      grid-column: span 2 / span 2;
      .blog__article__image {
        img {
          height: 186px;
          @include screen(laptop) {
            height: 388px;
          }
        }
      }
      .blog__article__title {
        @include label-article-h1-semibold;
      }
    }
    @include screen(laptop) {
      grid-column: span 1 / span 1;
      &.blog__article-wide {
        grid-column: span 2 / span 2;
      }
    }
  }
}