.coaches {
  &__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    row-gap: 28px;
    column-gap: 20px;
    @include screen(tablet) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include screen(laptop) {
      column-gap: 32px;
      row-gap: 88px;
    }
    @include screen(desktop) {
      column-gap: 48px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  &__more {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


    text-transform: uppercase;
    color: $yellow;
    opacity: 0;
    @include h2-actay;
    @include screen(laptop) {
      background-color: rgba(0, 0, 0, 0.7);
      transition: opacity $transition-default, z-index $transition-default;
    }
    span {
      display: none;
      @include screen(laptop) {
        display: block;
      }
    }
  }
  &__subtitle {
    overflow: hidden;
    position: relative;
    margin-bottom: 28px;
    margin-top: 48px;
    &:first-child {
      margin-top: 0;
    }
    span {
      background-color: $black;
      padding-right: 12px;
      position: relative;
      z-index: 2;
    }
    &:before {
      content: '';
      top: 50%;
      position: absolute;
      right: 0;
      width: 9999px;
      height: 1px;
      background-color: $neutral-200;
    }
    @include h2;
    @include screen(tablet) {
      margin-top: 44px;
    }
    @include screen(laptop) {
      margin-bottom: 56px;
      margin-top: 88px;
    }
    @include screen(desktop) {
      margin-bottom: 64px;
    }
  }
  &__photo {
    position: relative;

    width: 100%;

    height: 223px;
    max-height: 223px;
    border-radius: 8px;
    @include screen(tablet) {
      height: 260px;
      max-height: 260px;
    }
    @include screen(laptop) {
      height: 460px;
      max-height: 460px;
    }
    @include screen(desktop) {
      height: 480px;
      max-height: 480px;
    }
    img {
      width: 100%;
      height: 100%;

      border-radius: 8px;
      object-fit: cover;
      object-position: top;
    }
    &:hover {
      .coaches__more {
        opacity: 1;

        z-index: 10;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  &__title {
    @include label-12-m-medium;
    @include screen(tablet) {
      @include h3-md-inter;
    }
  }
  &__quote {
    color: $text-caption;
    @include label-12-m-medium;
    @include line-clamp-2;
    @include screen(tablet) {
      @include body-1;
    }
  }
}