.coaches {
  transition: filter $transition-default;
  &.active {
    filter: blur(10px);
  }
  &__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    row-gap: 28px;
    column-gap: 20px;
    @include screen(tablet) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include screen(laptop) {
      column-gap: 32px;
      row-gap: 88px;
    }
    @include screen(desktop) {
      column-gap: 48px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  &__more {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 150%;

    text-transform: uppercase;
    color: $yellow;
    opacity: 0.8;
    @include actay;
    @include screen(tablet) {
      font-size: 20px;
    }
    @include screen(laptop) {
      align-items: center;
      padding-bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.7);
      transition: opacity $transition-default, z-index $transition-default;
      @include h2-actay;
    }
  }
  &__subtitle {
    overflow: hidden;
    position: relative;
    margin-bottom: 28px;
    margin-top: 48px;
    font-size: 16px;
    &:first-child {
      margin-top: 0;
    }
    span {
      background-color: $black;
      padding-right: 20px;
      position: relative;
      z-index: 2;
    }
    &:before {
      content: '';
      top: 50%;
      position: absolute;
      right: 0;
      width: 9999px;
      height: 1px;
      background-color: $neutral-200;
    }
    @media screen and (min-width: 375px) {
      @include h2;
    }
    @include screen(tablet) {
      margin-top: 44px;
    }
    @include screen(laptop) {
      margin-bottom: 56px;
      margin-top: 88px;
    }
    @include screen(desktop) {
      margin-bottom: 64px;
    }
  }
  &__photo {
    position: relative;

    width: 100%;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;

      border-radius: 8px;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 3 / 4;
    }
    &:hover {
      .coaches__more {
        opacity: 1;

        z-index: 10;
      }
    }
  }
  &__noimage {
    position: relative;
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      aspect-ratio: 1 / 1;
      border-radius: 0;
      object-fit: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  &__title {
    @include label-12-m-medium;
    font-size: 14px;
    @include screen(tablet) {
      @include h3-md-inter;
    }
  }
  &__quote {
    color: $text-caption;
    @include label-12-m-medium;
    @include line-clamp-2;
    @include screen(tablet) {
      @include body-1;
    }
  }
}