.contacts {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    @include screen(tablet) {
      grid-template-columns: 400px 260px;
      gap: 40px;
    }
    @include screen(laptop) {
      grid-template-columns: 640px 1fr;
      gap: 76px;
    }
    @include screen(desktop) {
      grid-template-columns: 1000px 1fr;
    }
  }
  &__map {
    width: 100%;
    height: 344px;
    border-radius: 8px;
    overflow: hidden;
    background-color: $neutral-100;
    .ymap-container {
      position: relative;

      height: 100%;
      #map-yandex {
        position: relative;

        width: 100%;
        height: 100%;
        & > ymaps {
          border-radius: 8px;
          overflow: hidden;
        }
      }
    }
    @include screen(tablet) {
      height: 405px;
    }
    @include screen(laptop) {
      height: 580px;
    }
    @include screen(desktop) {
      height: 653px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 28px;
    @include screen(laptop) {
      justify-content: flex-start;
      row-gap: 56px;
      column-gap: 75px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include screen(tablet) {
      width: 100%;
    }
    @include screen(laptop) {
      width: auto;
      gap: 12px;
    }
    h3 {
      color: $text-caption;
      @include body-2;
      @include screen(tablet) {
        @include h3-md-inter;
      }
    }
    a,
    span {
      @include body-1;
      @include screen(tablet) {
        @include body-2;
      }
    }
    a {
      @include screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $yellow;
        }
      }
    }
    &-wide {
      width: 100%;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 32px;
    @include screen(laptop) {
      margin-top: 0;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 12px;
    border: 1px solid $neutral-200;
    border-radius: 100px;
    @include screen(laptop) {
      padding: 20px 36px;
    }
    span {
      text-transform: uppercase;
      @include body-2;
      @include screen(laptop) {
        transition: color $transition-default;
      }
    }
    svg {
      width: 24px;
      height: 24px;
      path {
        @include screen(laptop) {
          transition: fill $transition-default;
        }
      }
    }
    @include screen(laptop) {
      transition: border-color $transition-default;
    }
    @include screen(laptop) {
      &:hover {
        border-color: $yellow;
        span {
          color: $yellow;
        }
        svg {
          path {
            fill: $yellow;
          }
        }
      }
    }
  }
}