.faq {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    padding: 12px;

    border-radius: 12px;
    background-color: $neutral-400;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 0;

    border-right: 1px solid $text-caption;

    text-transform: uppercase;
    color: $text-caption;

    transition: color $transition-default;
    @include label-footer-h;
    &:hover {
      color: $yellow;
    }
    &.active {
      color: $yellow;
    }
    &:last-child {
      border-right: none;
    }
    @include actay;
  }
  &__containers {
    margin-top: 60px;
  }
  &__container {
    display: none;
    &.active {
      display: block;
    }
  }
  &__question {
    margin-top: 28px;

    border-bottom: 1px solid $neutral-200;
    &:first-child {
      margin-top: 0;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    span {
      color: $icon-gray;

      transition: transform $transition-default;
    }
    &.active {
      span {
        transform: rotate(180deg);
      }
    }
    h3 {
      @include body-2;
    }
  }
  &__body {
    display: none;
    padding-bottom: 20px;
    &.active {
      display: block;
    }
    p {
      @include body-1;
    }
  }
}