.faq {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px 12px;
    border-radius: 12px;
    background-color: $neutral-400;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(33% + 12px);
      height: calc(100% - 20px);
      width: 1px;
      background-color: $text-caption;
      @include screen(tablet) {
        height: calc(100% - 24px);
      }
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(33% + 12px);
      height: calc(100% - 20px);
      width: 1px;
      background-color: $text-caption;
      @include screen(tablet) {
        height: calc(100% - 24px);
      }
    }
    @include screen(tablet) {
      padding: 12px;
    }
  }
  &__button {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: $text-caption;

    transition: color $transition-default;
    @include actay-faq;
    @include screen(mobile) {
      padding: 0 16px;
    }
    @include screen(laptop) {
      padding: 8px 0 0;
      &:hover {
        color: $yellow;
      }
    }
    &.active {
      color: $yellow;
    }
    @include screen(laptop) {
      @include label-h-numbering;
    }
  }
  &__containers {
    margin-top: 20px;
    @include screen(laptop) {
      margin-top: 30px;
    }
    @include screen(laptop) {
      margin-top: 60px;
    }
  }
  &__container {
    display: none;
    &.active {
      display: block;
    }
  }
  &__question {
    margin-top: 12px;

    border-bottom: 1px solid $neutral-200;
    &:first-child {
      margin-top: 0;
    }
    @include screen(laptop) {
      margin-top: 28px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    position: relative;
    @include screen(laptop) {
      padding: 20px 0;
    }
    svg {
      color: $icon-gray;
      width: 20px;
      min-width: 20px;
      position: absolute;
      right: 0;
      transition: transform $transition-default;
      top: 12px;
      @include screen(laptop) {
        width: 24px;
        min-width: 24px;
        top: 23px;
      }
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
    }
    h3 {
      max-width: 90%;
      @include screen(tablet) {
        max-width: 100%;
      }
      @include body-2;
    }
  }
  &__body {
    display: none;
    padding-bottom: 12px;
    @include screen(laptop) {
      padding-bottom: 20px;
    }
    &.active {
      display: block;
    }
    p {
      @include body-caption;
      @include screen(tablet) {
        @include body-1;
      }
    }
  }
}