.footer {
  background-color: $neutral-400;
  &-top {
    padding: 60px 0 60px;
  }
  &-bottom {
    padding: 60px 0 40px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &__slogan {
    text-transform: uppercase;
    @include label-footer-h;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  &__label {
    position: relative;

    display: block;
    width: 100%;
    p {
      position: absolute;
      left: 0;

      display: inline;

      color: $text-caption;

      transition: transform $transition-default;
      transform-origin: 0 0;
      pointer-events: none;
      user-select: none;
    }
  }
  &__input {
    padding: 4px 0;
    width: 100%;

    border-bottom: 1px solid $neutral-200;
    border-radius: 0;
    background-color: transparent;

    text-transform: uppercase;

    transition: color $transition-default, border-color $transition-default;
    &:active,
    &:focus {
      border-color: $text-secondary;
      & + p {
        transform: translateY(-14px) scale(0.7);
      }
    }
    &:hover {
      border-color: $text-secondary;
    }
    &.not-valid {
      border-color: $error;
    }
    &.filled {
      & + p {
        transform: translateY(-14px) scale(0.7);
      }
    }
  }
  &__policy {
    position: relative;

    padding-left: 24px;

    color: $text-secondary;
    cursor: pointer;
    @include body-1;
    span {
      &:before {
        content: "";

        position: absolute;
        top: 4px;
        left: 0;

        width: 16px;
        height: 16px;

        border: 1px solid $icon-gray-2;
        border-radius: 50%;

        transition: border-color $transition-default;
      }
      &:after {
        content: "";

        position: absolute;
        top: 7px;
        left: 3px;

        width: 10px;
        height: 10px;

        border-radius: 50%;
        background-color: $yellow;

        transition: opacity $transition-default;
        opacity: 0;
      }
    }
    input {
      position: absolute;

      width: 0;
      height: 0;
      opacity: 0;
      &:checked + {
        span {
          &:after {
            opacity: 1;
          }
        }
      }
      &.not-valid + {
        span {
          &:before {
            border-color: $error;
          }
        }
      }
    }
  }
  &__button {
    padding: 16px 80px;

    border-radius: 100px;
    background-color: $white;

    text-transform: uppercase;
    color: $text-black;
    @include button-medium;
    @include screen(laptop) {
      transition: background-color $transition-default;
      &:hover {
        background-color: $yellow;
      }
    }
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column: span 2 / span 2;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  &__link {
    color: $text-secondary;

    transition: color $transition-default;
    @include body-1;
    &-right {
      text-align: right;
    }
    &.active {
      color: $yellow;
    }
    @include screen(laptop) {
      &:hover {
        color: $yellow;
      }
    }
  }
  &__copy {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 32px 0;

    border-top: 1px solid $neutral-200;
    .copyright {
      grid-column: span 2 / span 2;

      color: $text-caption;
    }
    a {
      color: $text-caption;
      @include body-1;
      @include screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}