.footer {
  transition: filter $transition-default;
  background-color: $neutral-400;
  &.active {
    filter: blur(10px);
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    @include screen(tablet) {
      gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include screen(laptop) {
      gap: 0;
    }
  }
  &-top {
    padding: 32px 0;
    border-bottom: 1px solid $neutral-200;
    @include screen(tablet) {
      padding: 60px 0;
      border: none;
    }
    @include screen(desktop) {
      gap: 0;
      grid-template-columns: 1fr 792px;
    }
  }
  &-bottom {
    padding: 32px 0;
    @include screen(tablet) {
      padding: 60px 0 40px;
    }
    @include screen(desktop) {
      .footer__wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
  &__slogan {
    text-transform: uppercase;
    @include label-footer-h;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  &__label {
    position: relative;

    display: block;
    width: 100%;
    p {
      position: absolute;
      left: 0;

      display: inline;

      color: $text-caption;

      transition: transform $transition-default;
      transform-origin: 0 0;
      pointer-events: none;
      user-select: none;
    }
  }
  &__input {
    padding: 4px 0;
    width: 100%;

    border-bottom: 1px solid $neutral-200;
    border-radius: 0;
    background-color: transparent;

    text-transform: capitalize;

    transition: color $transition-default, border-color $transition-default;
    @include body-1;
    &:active,
    &:focus {
      border-color: $text-secondary;
      & + p {
        transform: translateY(-14px) scale(0.7);
      }
    }
    &:hover {
      border-color: $text-secondary;
    }
    &.not-valid {
      border-color: $error;
    }
    &.filled {
      & + p {
        transform: translateY(-14px) scale(0.7);
      }
    }
  }
  &__policy {
    position: relative;

    padding-left: 24px;

    color: $text-secondary;
    cursor: pointer;
    @include body-caption;
    @include screen(tablet) {
      @include body-2;
    }
    @include screen(laptop) {
      @include body-1;
    }
    span {
      &:before {
        content: "";

        position: absolute;
        left: 0;
        top: 0px;
        width: 16px;
        height: 16px;

        border: 1px solid $icon-gray-2;
        border-radius: 50%;

        transition: border-color $transition-default;
        @include screen(tablet) {
          top: 2px;
        }
        @include screen(laptop) {
          top: 3px;
        }
      }
      &:after {
        content: "";

        position: absolute;
        left: 3px;
        top: 3px;

        width: 10px;
        height: 10px;

        border-radius: 50%;
        background-color: $yellow;

        transition: opacity $transition-default;
        opacity: 0;
        @include screen(tablet) {
          top: 5px;
        }
        @include screen(laptop) {
          top: 6px;
        }
      }
    }
    input {
      position: absolute;

      width: 0;
      height: 0;
      opacity: 0;
      &:checked + {
        span {
          &:after {
            opacity: 1;
          }
        }
      }
      &.not-valid + {
        span {
          &:before {
            border-color: $error;
          }
        }
      }
    }
  }
  &__button {
    padding: 12px 36px;
    border-radius: 100px;
    background-color: $white;
    width: 100%;
    text-transform: uppercase;
    color: $text-black;
    @include button-medium;
    @include screen(tablet) {
      width: auto;
    }
    @include screen(laptop) {
      padding: 16px 80px;
      transition: background-color $transition-default;
      &:hover {
        background-color: $yellow;
      }
    }
  }
  &__nav {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 56px;
    column-gap: 32px;
    @include screen(tablet) {
      gap: 0;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include screen(desktop) {
      max-width: 816px;
      grid-template-columns: 160px 132px 76px 206px;
      justify-content: space-between;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  &__link {
    display: inline-block;
    color: $text-secondary;

    transition: color $transition-default;
    @include body-1;
    @include screen(tablet) {
      @include body-2;
    }
    @include screen(laptop) {
      @include body-1;
    }
    br {
      display: block;
      @include screen(tablet) {
        display: none;
      }
    }
    &-right {
      @include screen(tablet) {
        text-align: right;
      }
    }
    &.active {
      color: $yellow;
    }
    @include screen(laptop) {
      &:hover {
        color: $yellow;
      }
    }
  }
  &__copy {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 12px 0;
    border-top: 1px solid $neutral-200;
    @include screen(tablet) {
      gap: 0;
      padding: 32px 0;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .copyright {
      grid-column: span 1 / span 1;
      color: $text-caption;
      @include body-1;
      @include screen(tablet) {
        grid-column: span 2 / span 2;
      }
    }
    .footer__link {
      color: $text-caption;
      span {
        color: $text-caption;
        @include screen(laptop) {
          transition: color $transition-default;
        }
      }
      @include body-1;
      @include screen(laptop) {
        transition: color $transition-default;
        &:hover {
          span {
            &:nth-child(2) {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}