.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 24px 0;
  width: 100%;

  transition: background-color $transition-default, padding $transition-default;
  @include screen(laptop) {
    padding: 48px 0;
  }
  &.active {
    padding: 24px 0;

    background-color: rgba($black, 0.8);
    backdrop-filter: blur(4px);
  }
  &__burger {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 0;
    span {
      text-transform: uppercase;
      margin-bottom: -4px;
      @include h2-actay;
    }
    @include screen(tablet) {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 30px;
  }
  &__menu {
    display: none;
    align-items: center;
    gap: 24px;
    @include screen(tablet) {
      display: flex;
    }
    @include screen(laptop) {
      gap: 48px;
    }
  }
  &__link {
    transition: color $transition-default;
    @include body-2;
    &.active {
      color: $yellow;
    }
    @include screen(laptop) {
      &:hover {
        color: $yellow;
      }
    }
  }
  &__button {

    border: 1px solid $yellow;
    border-radius: 24px;
    padding: 8px 16px;
    @include body-1;
    @include screen(laptop) {
      padding: 11px 24px;
      transition: color $transition-default;
      &:hover {
        color: $yellow;
      }
    }
  }
}