.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 48px 0;
  width: 100%;

  transition: background-color $transition-default, padding $transition-default;
  &.active {
    padding: 24px 0;

    background-color: rgba($black, 0.8);
    backdrop-filter: blur(4px);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  &__link {
    transition: color $transition-default;
    @include body-2;
    &.active {
      color: $yellow;
    }
    @include screen(laptop) {
      &:hover {
        color: $yellow;
      }
    }
  }
  &__button {
    padding: 12px 24px;

    border: 1px solid $yellow;
    border-radius: 24px;

    font-size: 16px;
    line-height: 20px;
    @include screen(laptop) {
      transition: color $transition-default;
      &:hover {
        color: $yellow;
      }
    }
  }
}