.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 24px 0;
  width: 100%;

  transition: background-color $transition-default, padding $transition-default;
  @include screen(laptop) {
    padding: 48px 0;
  }
  &.active {
    padding: 24px 0;

    background-color: rgba($black, 0.8);
    backdrop-filter: blur(4px);
  }
  &__burger {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 0;
    z-index: 110;
    span {
      text-transform: uppercase;
      margin-bottom: -4px;
      @include h2-actay;
    }
    svg {
      width: 14px;
      height: 14px;
      path,
      rect {
        transition: transform $transition-default, opacity $transition-default;
      }
    }
    &.active {
      svg {
        rect {
          &:nth-child(1) {
            transform: translateX(3px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
        }
        path {
          &:nth-child(3) {
            transform: translateX(-7px) translateY(3px) rotate(-45deg);
          }
        }
      }
    }
    @include screen(tablet) {
      display: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 30px;
    display: none;
    @include screen(tablet) {
      display: block;
    }
    @include screen(tablet) {
      max-width: 50px;
    }
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 128px 16px 16px 36px;
    @include screen(tablet) {
      flex-direction: row;
      align-items: center;
      padding: 0;
      width: auto;
      height: auto;
      display: flex;
    }
    @include screen(laptop) {
      gap: 48px;
    }
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: z-index $transition-default, opacity $transition-default, visibility $transition-default;
    @include screen(tablet) {
      height: auto;
      position: static;
      width: auto;
      background-color: transparent;
      z-index: 10;
      visibility: visible;
      opacity: 1;
      transition: z-index 0s, opacity 0s, visibility 0s;
    }
    &.active {
      z-index: 10;
      visibility: visible;
      opacity: 1;
    }
  }
  &__link {
    transition: color $transition-default;
    text-transform: uppercase;
    position: relative;
    transition: padding-left $transition-default;
    @include h2-actay;
    @include screen(tablet) {
      text-transform: none;
      @include body-2;
      @include inter;
      &:nth-child(2) {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $yellow;
      border-radius: 50%;
      left: 0;
      top: 8px;
      transition: opacity $transition-default;
      opacity: 0;
      @include screen(tablet) {
        display: none;
      }
    }
    &.active {
      padding-left: 20px;
      color: $yellow;
      &:before {
        opacity: 1;
      }
      @include screen(tablet) {
        padding-left: 0;
      }
    }
    @include screen(laptop) {
      &:hover {
        color: $yellow;
      }
    }
  }
  &__button {
    border: 1px solid $yellow;
    border-radius: 100px;
    padding: 8px 16px;
    z-index: 110;
    @include body-caption;
    @include screen(tablet) {
      @include body-1;
    }
    @include screen(laptop) {
      padding: 11px 24px;
      transition: color $transition-default;
      &:hover {
        color: $yellow;
      }
    }
    @include screen(desktop) {
      @include body-2;
    }
  }
}