.hero {
  position: relative;

  overflow: hidden;
  margin-top: -112px;

  padding: 0;
  @include screen(laptop) {
    margin-top: -200px;
  }
  &__bg {
    position: absolute;
    top: 0;
    background-color: black;
    left: 0;
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include screen(laptop) {
        margin-left: 100px;
        object-position: 0 0;
      }
    }
    &:before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%; 

      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &__wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include screen(laptop) {
      padding-top: 100px;
    }
  }
  &__title {
    @include xxl-bold-actay;
    span {
      color: $yellow;
    }
    @include actay-wide;
  }
}