.not-found {
  margin-top: -125px;
  @include screen(laptop) {
    margin-top: -200px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 872px;
    min-height: 100vh;
  }
  &__title {
    @include xxl-bold-actay
  }
  &__text {
    @include h3-md-inter;
    text-align: center;
  }
  &__links {
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    @include screen(tablet) {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 20px;
      margin-top: 32px;
    }
  }
  &__link {
    grid-column: span 1 / span 1;
    padding: 8px 24px;
    border: 1px solid $neutral-100;
    border-radius: 24px;

    text-align: center;
    @include body-2;
    @include screen(laptop) {
      padding: 11px 24px;
      transition: color $transition-default, border-color $transition-default;
      &:hover {
        border-color: $yellow;

        color: $yellow;
      }
    }
    @include screen(desktop) {
      padding: 11px 40px;
    }
  }
}