.order,
.booking {
  padding-bottom: 30px;
  @include screen(tablet) {
    padding-bottom: 0;
  }
  &__wrapper {
    @include screen(tablet) {
      padding-left: 34px;
    }
    @include screen(laptop) {
      padding-left: 53px;
    }
  }
  &__actions {
    display: none;
    @include screen(tablet) {
      display: inline-flex;
      gap: 80px;
    }
    @include screen(laptop) {
      gap: 154px;
    }
  }
  &__action {
    color: $neutral-200;
    position: relative;
    transition: color $transition-default;
    pointer-events: none;
    @include body-2;
    &:first-child {
      &:before {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      left: -70px;
      background-color: $neutral-200;
      @include screen(laptop) {
        left: -141px;
        width: 130px;
      }
    }
    &.active {
      color: $yellow;
    }
  }
  &__steps {
    max-width: 568px;
    margin-top: 24px;
    @include screen(tablet) {
      margin-top: 40px;
    }
    @include screen(laptop) {
      max-width: 680px
    }
  }
  &__step {
    display: none;
    opacity: 0;
    transition: opacity $transition-default;
    &.active {
      display: block;
    }
  }
  &__promocode,
  &__code {
    span { 
      opacity: 0;
      visibility: hidden;
      position: absolute;
      color: $error;
      width: 100%;
      left: 0;
      z-index: -1;
      bottom: -24px;
      transition: opacity $transition-default, z-index $transition-default, visibility $transition-default;
      @include body-caption;
    }
    &.not-valid {
      .order__input {
        border-color: $error;
      }
      span {
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }
    }
  }
  &__value {
    @include body-1;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 34px;
    row-gap: 34px;
    @include screen(tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 48px;
    }
    @include screen(laptop) {
      margin-top: 52px;
      gap: 48px;
    }
    &-wide {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      .order__label {
        grid-column: span 3 / span 3;
      }
      .order__button {
        grid-column: span 2 / span 2;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    @include label-14-12-m-medium;
    @include screen(tablet) {
      @include h3-md-inter;
    }
  }
  &__text {
    margin-top: 8px;
    color: $neutral-100;
    @include body-1;
  }
  &__label {
    order: 1;
    position: relative;
    max-height: 33px;
    display: block;
    width: 100%;
    @include screen(tablet) {
      order: unset;
    }
    p {
      position: absolute;
      left: 0;

      display: inline;

      color: $text-caption;

      transition: transform $transition-default, font-size $transition-default;
      transform-origin: 0 0;
      pointer-events: none;
      user-select: none;
    }
    &-code {
      &-hidden {
        pointer-events: none;
        opacity: 0;
      }
      span {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        color: $error;
        width: 100%;
        left: 0;
        bottom: -24px;
        transition: opacity $transition-default, z-index $transition-default, visibility $transition-default;
        @include body-caption;
      }
      .order__input.not-valid {
        & ~ span {
          opacity: 1;
        }
      }
    }
  }
  &__input {
    padding: 4px 0;
    width: 100%;

    border-bottom: 1px solid $neutral-200;
    border-radius: 0;
    height: 33px;
    background-color: transparent;

    transition: color $transition-default, border-color $transition-default;
    @include body-2;
    @include screen(laptop) {
      @include body-1;
    }
    &[type=date]::-webkit-datetime-edit {
      display: none;
    }
    &[type=date]:focus::-webkit-datetime-edit {
      display: none;
    }
    &:focus {
      border-color: $text-secondary;
      & + p {
        transform: translateY(-18px);
        @include font-sm;
      }
    }
    &:hover {
      border-color: $text-secondary;
    }
    &.not-valid {
      border-color: $error;
    }
    &.filled {
      & + p {
        transform: translateY(-18px);
        @include font-sm;
      }
      &[type=date]::-webkit-datetime-edit {
        display: none;
      }
      &[type=date]:focus::-webkit-datetime-edit {
        display: none;
      }
    }
  }
  &__policy {
    order: 5;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    color: $neutral-100;
    margin-top: -18px;
    @include body-caption;
    @include screen(tablet) {
      order: unset;
    }
    a {
      @include screen(laptop) {
        transition: color $transition-default;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  &__button {
    grid-column-start: 1;
    order: 4;
    padding: 12px;
    border-radius: 100px;
    width: 100%;
    background-color: $white;
    text-align: center;

    text-transform: uppercase;
    color: $text-black;
    transition: background-color $transition-default, filter $transition-default, opacity $transition-default;
    @include button-medium;
    @include screen(tablet) {
      width: auto;
      order: unset;
    }
    @include screen(laptop) {
      padding: 16px;
      &:hover {
        background-color: $yellow;
      }
    }
  }
  &__getcode {
    position: absolute;
    right: 0;
    background-color: $white;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    padding: 4px 12px;
    justify-content: center;
    span {
      color: $black;
      display: inline-block;
      @include font-sm;
    }
    @include screen(laptop) {
      transition: background-color $transition-default;
      &:hover {
        background-color: $yellow;
      }
    }
    &-hidden {
      display: none;
    }
  }
  &__calendar {
    order: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    @include screen(tablet) {
      order: unset;
    }
    svg {
      position: absolute;
      right: 0;
      transition: transform $transition-default;
      color: $neutral-100;
      width: 20px;
    }
    .order__input {
      position: absolute;
      cursor: pointer;
      padding: 4px 0;
      width: 100%;
      z-index: 3;

      border-bottom: none;
      border-radius: 0;
      background-color: transparent;

      transition: color $transition-default, border-color $transition-default;
      &.active {
        & ~ .order__selected {
          border-color: $text-secondary;
        }
      }
      &.selected,
      &.active {
        & ~ .order__selected {
          p {
            transform: translateY(-22px);
            @include font-sm;
          }
        }
      }
      &:hover {
        & + .order__selected {
          border-color: $text-secondary;
        }
      }
      &.filled {
        & ~ .order__selected {
          p {
            transform: translateY(-18px);
          }
        }
      }
    }
  }
  &__select {
    position: relative;
    order: 3;
    @include screen(tablet) {
      order: unset;
    }
    .order__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      &.active {
        & ~ .order__selected {
          border-color: $text-secondary;
          p {
            transform: translateY(-23px);
            @include font-sm;
          }
          svg {
            transform: rotate(180deg);
          }
        }
        & ~ .order__list {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
      }
      &.not-valid {
        border-color: $error;
      }
      &.filled {
        & ~ .order__selected {
          p {
            transform: translateY(-23px);
            @include font-sm;
          }
        }
      }
    }
  }
  &__selected {
    padding: 2px 0 6px;
    width: 100%;
    height: 33px;
    cursor: pointer;
    display: flex;
    align-items: center;

    border-bottom: 1px solid $neutral-200;
    background-color: transparent;

    transition: color $transition-default, border-color $transition-default;
    position: relative;
    @include body-2;
    @include screen(laptop) {
      @include body-1;
    }
    svg {
      position: absolute;
      right: 0;
      transition: transform $transition-default;
      color: $neutral-100;
      width: 20px;
    }
  }
  &__spinner {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: -30px;
    transition: opacity $transition-default;
    img {
      animation: spinner 1s linear infinite;
    }
    @include screen(tablet) {
      gap: 32px;
      margin-bottom: 0;
    }
  }
  &__alert {
    display: none;
    margin-bottom: -30px;
    opacity: 0;
    transition: opacity $transition-default;
    @include screen(tablet) {
      margin-top: 32px;
      margin-bottom: 0;
    }
    &-success {
      .order__subtitle {
        color: $yellow;
      }
    }
    &-error {
      .order__subtitle {
        color: $error;
      }
    }
    &.active {
      display: block;
    }
  }
  &__list {
    position: absolute;
    top: 33px;
    background-color: $neutral-400;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-default, z-index $transition-default, visibility $transition-default;
    &__item {
      padding: 8px 12px;
      color: $text-secondary;
      cursor: pointer;
      transition: color $transition-default;
      @include body-caption;
      &:hover {
        color: $yellow;
      }
    }
  }
  &__subtitle {
    text-transform: uppercase;
    @include label-inter-accent;
  }
  &__subtext {
    margin-top: 8px;
    color: $text-caption;
    @include body-2;
  }
  &__header {
    display: inline-flex;
    flex-direction: column;
    @include screen(tablet) {
      flex-direction: row;
      gap: 132px;
    }
    @include screen(laptop) {
      gap: 220px;
    }
  }
  &__head {
    display: flex;
    flex-direction: column;
    &:first-child {
      padding-bottom: 13px;
      border-bottom: 1px solid $neutral-100;
      margin-bottom: 13px;
      @include screen(tablet) {
        padding-bottom: 0;
        padding-bottom: 0;
        border: none;
      }
    }
  }
  &__training {
    color: $yellow;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $neutral-100;
      width: 100px;
      top: 10px;
      display: none;
      right: -116px;
      @include screen(tablet) {
        display: block;
      }
      @include screen(laptop) {
        width: 156px;
        right: -188px;
        top: 18px;
      }
    }
    @include h2-actay;
  }
  &__coach {
    color: $text-secondary;
    @include body-1;
  }
  &__date {
    color: $yellow;
    @include label-h-numbering;
  }
  &__time {
    color: $text-secondary;
    margin-top: 12px;
    @include body-1;
    @include screen(tablet) {
      margin-top: 4px;
    }
    @include screen(laptop) {
      margin-top: 8px;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}