.plans {
  position: relative;

  overflow: hidden;
  padding: 20px 0;
  @include screen(tablet) {
    padding: 0;
  }
  &__slider {
    overflow: visible;
    .swiper-wrapper {
      align-items: stretch;
    }
    .swiper-slide {
      transition: transform $transition-default;
      height: auto;
      &-active {
        transform: scale(1.1);
        @include screen(tablet) {
          transform: scale(1);
        }
      }
    }
  }
  &__title {
    height: 27px;
    @include screen(tablet) {
      height: auto;
    }
    span {
      margin-bottom: 4px;
      padding: 6px;
      border-radius: 8px;
      background-color: $text-black;

      text-transform: uppercase;
      color: $yellow;
      @include label-extra-sm-bold;
      @include screen(tablet) {
        padding: 8px;
        height: auto;
        font-size: 9px;
      }
      @include screen(laptop) {
        @include label-extra-sm-bold;
      }
    }    
    @include h2-actay;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 16px;
    min-height: 331px;
    height: 100%;
    gap: 50px;

    border-radius: 8px;
    background-color: $neutral-400;
    @include screen(laptop) {
      padding: 36px;
      min-height: 550px;
    }
    @include screen(desktop) {
      padding: 32px;
    }
    &-annual {
      .plans__title {
        display: flex;
        align-items: center;
        gap: 7px;

        font-weight: 700;
        color: $yellow;
        @include screen(laptop) {
          gap: 10px;
        }
      }
    }
  }
  &__price {
    margin-top: 8px;

    @include h3-actay;
    @include screen(laptop) {
      margin-top: 16px; 
    }
  }
  &__footer {
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      li {
        position: relative;

        padding-left: 12px;
        @include body-1;
        @include screen(laptop) {
          padding-left: 16px;
        }
        &:before {
          content: "";

          position: absolute;
          left: 0;
          top: 6px;

          width: 4px;
          height: 4px;

          border-radius: 50%;
          background-color: $yellow;
          @include screen(laptop) {
            width: 8px;
            top: 8px;
            height: 8px;
          }
        }
      }
    }
  }
  &__button {
    margin-top: 20px;
    padding: 11px 24px;
    width: 100%;
    display: inline-block;
    text-align: center;

    border: 1px solid $yellow;
    border-radius: 100px;

    text-transform: uppercase;
    @include button-bold;
    @include screen(laptop) {
      padding: 15px 24px;
      margin-top: 48px;
      transition: color $transition-default;
      &:hover {
        color: $yellow;
      }
    }
  }
}