.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: flex;
  align-items: flex-end;
  width: 100%;

  transition: opacity $transition-default, z-index $transition-default,
    visibility $transition-default, transform $transition-default;
  opacity: 0;
  visibility: hidden;
  &:after {
    content: "";

    position: absolute;
    bottom: -999px;

    width: 100%;
    height: 999px;

    background-color: $white;
    @include screen(tablet) {
      display: none;
    }
  }
  &.active {
    opacity: 1;

    z-index: 2000;
    visibility: visible;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    transition: opacity $transition-default, z-index $transition-default;
    opacity: 0;
    &.active {
      opacity: 1;

      z-index: 1500;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1500;
    width: 100%;
    background-color: $neutral-400;
    transform: translateY(100%);
    padding-bottom: 80px;
    @include screen(tablet) {
      padding-bottom: 0;
    }
    @include screen(tablet) {
      right: 0;
      padding: 32px;
      bottom: 0;

      height: 100vh;
      transform: translateX(100%) translateY(0);
    }
    @include screen(laptop) {
      display: flex;
      align-items: center;
      padding: 0 108px 0 40px;
    }
  }
  &__close {
    position: absolute;
    bottom: -60px;
    right: 50%;
    z-index: 3;
    transform: translateX(50%);
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include screen(tablet) {
      width: auto;
      height: auto;
      background-color: transparent;
      display: block;
      bottom: auto;
      transform: translateX(0);
      top: 0;
      right: 0;
    }
    svg {
      width: 24px;
      path {
        stroke-width: 2px;
        stroke: $text-black;
        @include screen(tablet) {
          stroke-width: 1px;
          stroke: $white;
        }
      }
      @include screen(tablet) {
        width: 14px;
      }
      @include screen(laptop) {
        width: 24px;
      }
    }
  }
  &__container {
    position: relative;
    width: 100%;
  }
  &__inner {
    width: 100%;
    padding: 16px;
    height: 100vh;
    max-height: calc(100vh - 167px);
    overflow-y: auto;
    &:before {
      content: '';
      position: absolute;
      bottom: -80px;
      height: 80px;
      background-color: $neutral-400;
      width: 100%;
      left: 0;
      @include screen(tablet) {
        display: none;
      }
    }
    @include screen(tablet) {
      overflow: hidden;
      padding: 0;
      display: grid;
      grid-template-columns: 252px 1fr;
      gap: 32px;
      max-height: calc(100vh - 156px);
    }
    @include screen(laptop) {
      gap: 60px;
      grid-template-columns: 524px 1fr;
    }
  }
  &__image {
    overflow: hidden;
    border-radius: 8px;
    max-height: 438px;
    max-width: 344px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    @include screen(tablet) {
      margin-bottom: 0;
      max-height: 320px;
      min-height: 320px;
      max-width: 100%;
    }
    @include screen(laptop) {
      max-height: calc(100vh - 156px);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    @include h3-md-inter;
  }
  &__description {
    margin-top: 4px;

    color: $text-caption;
    @include body-1;
    @include screen(laptop) {
      margin-top: 12px;
    }
  }
  &__heading {
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    @include screen(tablet) {
      gap: 40px;
    }
    @include screen(laptop) {
      gap: 104px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @include screen(tablet) {
      overflow-y: auto;
      max-height: calc(100vh - 199px);
    }
    @include screen(laptop) {
      max-height: calc(100vh - 335px);
    }
  }
  &__item {
    display: grid;
    gap: 64px;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid $neutral-300;
    @include screen(tablet) {
      grid-template-columns: 200px 1fr;
    }
    @include screen(laptop) {
      padding: 32px 0;
    }
    &:last-child {
      @include screen(tablet) {
        border-bottom: 1px solid $neutral-300;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        position: relative;

        padding-left: 26px;

        color: $text-secondary;
        @include body-1;
        &:before {
          content: "";

          position: absolute;
          top: 11px;
          left: 0;

          width: 16px;
          height: 2px;

          background-color: $text-caption;
        }
      }
    }
  }
  &__subtitle {
    @include label-14-12-m-medium;
  }
  &-coach-booking {
    .popup__title {
      @include h1-actay;
    }
    .popup__content {
      @include screen(tablet) {
        gap: 40px;
      }
    }
  }
  &__date {
    margin-top: 20px;
    @include body-2;
  }
  &__time {
    margin-top: 12px;
    @include label-inter-accent;
  }
  &__button {
    margin-top: 32px;
    border: 1px solid $white;
    border-radius: 24px;
    padding: 10px 24px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    @include button-medium;
    @include screen(tablet) {
      width: auto;
      text-align: left;
      text-transform: none;
      @include body-2;
    }
    @include screen(laptop) {
      transition: color $transition-default, border-color $transition-default;
      &:hover {
        border-color: $yellow;
        color: $yellow;
      }
    }
  }
  .popup__inner {
    @include screen(tablet) {
      grid-template-columns: 252px 1fr;
    }
    @include screen(laptop) {
      grid-template-columns: 454px 1fr;
    }
  }
  .popup__item {
    gap: 16px;
    &:nth-last-child(2) {
      border-bottom: 1px solid $neutral-300;
    }
  }
  @include screen(tablet) {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: calc(100% - 36px);
    @include screen(laptop) {
      max-width: calc(100% - 108px);
    }
  }
}