.popup {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: flex;
  align-items: flex-end;
  width: 100%;

  transition: opacity $transition-default, z-index $transition-default,
    visibility $transition-default, transform $transition-default;
  opacity: 0;
  visibility: hidden;
  &:after {
    content: "";

    position: absolute;
    bottom: -999px;

    width: 100%;
    height: 999px;

    background-color: $white;
    @include screen(tablet) {
      display: none;
    }
  }
  &.active {
    opacity: 1;

    z-index: 2000;
    visibility: visible;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    transition: opacity $transition-default, z-index $transition-default;
    opacity: 0;
    &.active {
      opacity: 1;

      z-index: 1500;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1500;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 40px;
    padding: 0 108px 0 40px;
    width: 100%;

    background-color: $neutral-400;
    transform: translateY(100%);
    @include screen(tablet) {
      right: 0;
      bottom: 0;

      align-items: center;
      height: 100vh;
      transform: translateX(100%) translateY(0);
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  &__container {
    position: relative;

    display: grid;
    grid-template-columns: 524px 1fr;
    gap: 60px;
    width: 100%;
    height: 100vh;
    max-height: calc(100vh - 156px);
  }
  &__image {
    max-height: calc(100vh - 156px);
    overflow: hidden;

    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    @include h3-md-inter;
  }
  &__description {
    margin-top: 12px;

    color: $text-caption;
    @include body-1;
  }
  &__heading {
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 332px;
    gap: 64px;
    padding: 32px 0;
    width: 100%;

    border-top: 1px solid $neutral-300;
    &:last-child {
      border-bottom: 1px solid $neutral-300;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        position: relative;

        padding-left: 26px;

        color: $text-secondary;
        @include body-1;
        &:before {
          content: "";

          position: absolute;
          top: 11px;
          left: 0;

          width: 16px;
          height: 2px;

          background-color: $text-caption;
        }
      }
    }
  }
  &__subtitle {
    @include label-14-12-m-medium;
  }
  &-coach-booking {
    .popup__title {
      @include h1-actay;
    }
  }
  &__date {
    margin-top: 20px;
    @include body-2;
  }
  &__time {
    margin-top: 12px;
    @include label-inter-accent;
  }
  &__button {
    margin-top: 32px;
    border: 1px solid $white;
    border-radius: 24px;
    padding: 12px 24px;
    @include body-2;
    @include screen(laptop) {
      transition: color $transition-default, border-color $transition-default;
      &:hover {
        border-color: $yellow;
        color: $yellow;
      }
    }
  }
  .popup__container {
    grid-template-columns: 454px 1fr;
  }
  .popup__item {
    grid-template-columns: 1fr 462px;
    gap: 16px;
    ul {
      li {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    &:nth-last-child(2) {
      border-bottom: 1px solid $neutral-300;
    }
  }
  @include screen(tablet) {
    display: flex;
    align-items: center;
    max-width: calc(100% - 108px);
    height: 100vh;
  }
}