.reviews {
  position: relative;

  margin-top: -50px;
  padding-top: 80px;
  overflow: hidden;
  @include screen(laptop) {
    padding-top: 100px;
  }
  &__slider {
    overflow: visible;
  }
  &__image {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    @include screen(laptop) {
      max-width: 100px;
      max-height: 100px;
      min-width: 100px;
      min-height: 100px;
    }
  }
  &__slide {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 45px 24px 21px;

    border-radius: 8px;
    background-color: $neutral-400;
    @include screen(laptop) {
      padding: 66px 36px 24px;
    }
  }
  &__title {
    @include label-name-actay-bold;
  }
  &__text {
    margin-top: 8px;

    @include body-1;
    @include line-clamp-4;
    @include screen(laptop) {
      margin-top: 16px;
    }
  }
  &__source {
    color: $text-caption;
    @include body-caption;
  }
  &__rating {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-top: 12px;

    color: $yellow;
    span {
      margin-bottom: 2px;

      @include label-12-m-medium;
    }
    p {
      @include label-h-numberin-semibold;
    }
    @include screen(laptop) {
      margin-top: 24px;
    }
  }
}