.reviews {
  position: relative;

  margin-top: -50px;
  padding-top: 50px;

  overflow: hidden;
  &__slider {
    overflow: visible;
  }
  &__image {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }
  &__slide {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 66px 36px 24px;

    border-radius: 8px;
    background-color: $neutral-400;
  }
  &__title {
    @include label-name-actay-bold;
  }
  &__text {
    margin-top: 16px;

    @include body-1;
    @include line-clamp-4;
  }
  &__source {
    color: $text-caption;
    @include body-caption;
  }
  &__rating {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-top: 24px;

    color: $yellow;
    span {
      margin-bottom: 2px;

      @include label-12-m-medium;
    }
    p {
      @include label-h-numberin-semibold;
    }
  }
}