.schedule-table {
  position: relative;
  margin-top: 32px;
  // @include screen(tablet) {
  //   margin-top: 60px;
  // }
  // @include screen(laptop) {
  //   margin-top: 100px;
  // }
  &__times {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 91px;
    gap: 8px;
    background-color: $black;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    @include screen(tablet) {
      padding-right: 8px;
      display: flex;
    }
    @include screen(laptop) {
      padding-top: 114px;
    }
    &:before {
      content: '';
      position: absolute;
      left: -9999px;
      top: 0;
      width: 9999px;
      background-color: $black;
      height: 100%;
    }
  }
  &__time {
    width: 46px;
    min-height: 216px;
    position: relative;
    text-align: center;
    @include screen(laptop) {
      min-height: 284px;
    }
    &:after {
      content: '';
      position: absolute;
      min-height: 184px;
      width: 1px;
      left: 50%;
      transform: translateX(-50%);
      top: 32px;
      background-color: $neutral-300;
      @include screen(laptop) {
        min-height: 252px;
      }
    }
    time {
      display: inline-block;
      @include body-1;
    }
  }
  &__slider {
    @include screen(tablet) {
      overflow: visible;
      max-width: calc(100% - 54px);
      margin-left: 54px;
    }
    @include screen(laptop) {
      max-width: calc(100% - 114px);
      margin-left: 114px;
    }
    .swiper-slide {
      opacity: 0;
      transition: opacity $transition-default;
      @include screen(tablet) {
        opacity: 1;
      }
      &-active {
        opacity: 1;
      }
      &:last-child {
        .schedule-table__head {
          &:before {
            display: none;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      z-index: 2;
      cursor: pointer;
      background-color: $black;
      position: absolute;
      top: 0px;
      @include screen(tablet) {
        display: none;
      }
    }
    .swiper-button-prev {
      padding: 15px 16px 15px 0;

    }
    .swiper-button-next {
      padding: 15px 0 15px 16px;
      right: 0;
    }
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-disabled {
      .schedule-table__day {
        color: $neutral-300;
      }
      .schedule-table__date {
        color: $neutral-300;
      }
    }
    &-today {
      .schedule-table__day {
        color: $yellow;
      }
    }
  }
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    gap: 10px;
    position: relative;
    @include screen(tablet) {
      margin-bottom: 55px;
    }
    @include screen(laptop) {
      margin-bottom: 62px;
    }
    &:before {
      content: '';
      position: absolute;
      right: -8px;
      height: 100%;
      width: 1px;
      background-color: $neutral-300;
      display: none;
      @include screen(tablet) {
        display: block;
      }
    }
  }
  &__day {
    @include body-2;
  }
  &__date {
    color: $text-caption;
    @include body-1;
  }
  &__inner {
    position: relative;
    width: 100%;
    padding: 28px 16px 28px 0;
    @include screen(tablet) {
      padding: 20px 16px;
      border-radius: 8px;
      background-color: $neutral-400;
    }
    @include screen(laptop) {
      padding: 20px;
      transition: background-color $transition-default;
      &:hover {
        background-color: $neutral-300;
        .schedule-table__dot {
          background-color: $neutral-100;
        }
      }
    }
  }
  &__button {
    border: 1px solid $neutral-300;
    border-radius: 100px;
    position: absolute;
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    left: 0;
    color: $text-secondary;
    padding: 10px 68px 10px 24px;
    &.no-trainings {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px 24px;
      pointer-events: none;
      color: $yellow;
    }
    @include body-1;
    @include screen(laptop) {
      display: flex;
    }
    @include screen(laptop) {
      padding: 12px 104px 12px 24px;
      transition: color $transition-default;
      &:hover {
        color: $white;
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
    svg {
      position: absolute;
      right: 24px;
      path {
        @include screen(laptop) {
          transition: stroke $transition-default;
        }
      }
    }
  }
  &__training {
    text-align: left;
    display: inline-flex;
    justify-content: center;
    min-height: 212px;
    width: 100%;
    position: relative;
    @include screen(tablet) {
      flex-direction: column;
      align-items: flex-start;
      min-height: 224px;
      padding: 20px 0;
    }
    @include screen(laptop) {
      min-height: 292px;
    }
    &[name="scroll"] {
      display: none;
      @include screen(tablet) {
        display: flex;
      }
    }
    &-disabled {
      pointer-events: none;
      .schedule-table__name,
      .schedule-table__when,
      .schedule-table__author,
      .schedule-table__length,
      .schedule-table__currency,
      .schedule-table__avalibility {
        color: $text-caption;
      }
      .schedule-table__inner {
        pointer-events: none;
        @include screen(tablet) {
          background-color: rgba($neutral-400, 0.6);
        }
      }
    }
    &.popup-trigger {
      cursor: pointer;
    }
    &:before {
      content: '';
      position: absolute;
      width: 6000px;
      height: 1px;
      left: -3000px;
      top: 0;
      background-color: $neutral-300;
    }
    &-empty {
      text-align: left;
      display: none;
      align-items: flex-start;
      cursor: inherit;
      min-height: 224px;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      padding: 20px 0;
      @include screen(tablet) {
        display: inline-flex;
      }
      @include screen(laptop) {
        min-height: 292px;
      }
    }
  }
  &__when {
    @include label-inter-accent;
  }
  &__body {
    margin-top: 16px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include screen(laptop) {
      gap: 6px;
      margin-top: 20px;
    }
  }
  &__name {
    @include label-class-name;
    @include screen(laptop) {
      @include body-2;
    }
  }
  &__author {
    @include body-caption;
  }
  &__footer {
    display: flex;
    margin-top: 36px;
    gap: 8px;
    align-items: center;
    @include screen(laptop) {
      gap: 16px;
      margin-top: 59px;
    }
    @include screen(desktop) {
      gap: 12px;
    }
  }
  &__more {
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid $neutral-200;
    padding: 8px 24px;
    position: absolute;
    right: 16px;
    top: 28px;
    @include label-12-m-medium;
    @include screen(tablet) {
      display: none;
    }
  }
  &__dot {
    width: 4px;
    height: 4px;
    min-width: 4px;
    min-height: 4px;
    border-radius: 50%;
    background-color: $neutral-300;
    &:nth-child(4) {
      @include screen(tablet) {
        display: none;
      }
    }
    @include screen(laptop) {
      width: 8px;
      height: 8px;
      min-width: 8px;
      min-height: 8px;
      &:nth-child(4) {
        display: block;
      }
      transition: background-color $transition-default;
    }
  }
  &__length {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $text-secondary;
    position: relative;
    @include body-1;
    @include screen(laptop) {
      @include body-caption;
    }
    @include screen(laptop-default) {
      @include body-1;
    }
    svg {
      width: 20px;
      height: 20px;
      @include screen(laptop) {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__currency {
    color: $text-secondary;
    position: relative;
    @include body-1;
    @include screen(laptop) {
      @include body-caption;
    }
    @include screen(laptop-default) {
      @include body-1;
    }
  }
  &__avalibility {
    color: $text-secondary;
    @include body-1;
    @include screen(tablet) {
      position: absolute;
      top: 20px;
      right: 16px;
    }
    @include screen(laptop) {
      position: static;
      @include body-caption;
    }
    @include screen(laptop-default) {
      @include body-1;
    }
  }
}