.schedule {
  overflow: hidden;
  &-filters {
    background-color: $neutral-400;
    padding: 32px 0 140px;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    z-index: 99;
    transition: transform $transition-default;
    &.active {
      transform: translateY(0);
    }
    @include screen(tablet) {
      position: relative;
      justify-content: space-between;
      background-color: transparent;
      padding: 0;
    }
    @include screen(tablet) {
      transition: 0s;
      display: flex;
      transform: translateY(0);
    }
    @include screen(laptop) {
      gap: 24px;
    }
    .wrapper {
      @include screen(tablet) {
        padding: 0;
        margin: 0;
        max-width: 100%;
      }
    }
    &-mob {
      display: block;
      z-index: 99;
      &.active {
        z-index: 100;
      }
      @include screen(tablet) {
        display: none;
      }
    }
    &__wrapper {
      display: flex;
      gap: 24px;
      align-items: flex-start;
      flex-direction: column;
      h6 {
        margin-bottom: 8px;
        text-transform: uppercase;
        @include h2;
        @include screen(tablet) {
          display: none;
        }
      }
      @include screen(tablet) {
        align-items: center;
        flex-direction: row;
      }
    }
  }
  &__mobfilter {
    padding: 12px 24px;
    display: flex;
    border-radius: 100px;
    border: 1px solid $neutral-200;
    cursor: pointer;
    align-items: center;
    position: relative;
    @include screen(tablet) {
      display: none;
    }
    p {
      @include body-2;
    }
    span {
      min-width: 24px;
      min-height: 24px;
      display: inline-block;
      margin-left: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 50%;
      color: $black;
      @include body-caption;
      &.hidden {
        display: none;
      }
    }
    svg {
      position: absolute;
      right: 24px;
    }
  }
  &__filter {
    border-radius: 100px;
    border: 1px solid $text-caption;
    position: relative;
    min-width: 109px;
    width: 100%;
    @include screen(tablet) {
      width: auto;
    }
    @include screen(laptop) {
      min-width: 184px;
    }
    &-title {
      min-width: 115px;
      @include screen(laptop) {
        min-width: 184px;
      }
    }
    &-time {
      min-width: 149px;
      @include screen(laptop) {
        min-width: 208px;
      }
    }
    &-type {
      min-width: 202px;
      @include screen(laptop) {
        min-width: 272px;
      }
    }
    .schedule__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      &.active {
        & ~ .schedule__selected {
          svg {
            transform: rotate(180deg);
          }
        }
        & ~ .schedule__list {
          opacity: 1;
          visibility: visible;
          z-index: 20;
        }
      }
    }
  }
  &__value {
    @include body-2;
    @include screen(tablet) {
      @include body-1;
    }
  }
  &__selected {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;

    transition: color $transition-default;
    position: relative;
    svg {
      position: absolute;
      right: 20px;
      transition: transform $transition-default;
      color: $neutral-100;
      @include screen(tablet) {
        right: 8px;
      }
      @include screen(laptop) {
        right: 20px;
      }
    }
    @include screen(tablet) {
      padding: 7px 16px;
    }
    @include screen(laptop) {
      padding: 7px 20px;
    }
  }
  &__list {
    position: absolute;
    top: 56px;
    width: 100%;
    min-width: 200px;
    background-color: $neutral-300;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-default, z-index $transition-default, visibility $transition-default;
    @include screen(tablet) {
      top: 44px;
      background-color: $neutral-400;
    }
    @include screen(laptop) {
      top: 50px;
    }
    &__item {
      padding: 8px 16px;
      color: $text-secondary;
      cursor: pointer;
      transition: color $transition-default;
      @include body-2;
      @include screen(tablet) {
        @include body-caption;
      }
      &:hover {
        color: $yellow;
      }
      @include screen(laptop) {
        padding: 8px 20px;
      }
    }
  }
  &__clear {
    padding: 8px 0;
    margin: 20px auto 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: $neutral-100;
    @include body-2;
    @include screen(tablet) {
      position: static;
      margin: 0;
      transform: translate(0);
      @include body-1;
    }
    @include screen(laptop) {
      transition: color $transition-default;
      &:hover {
        color: $white;
      }
    }
  }
  &__close {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    bottom: 32px;
    align-items: center;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    @include screen(tablet) {
      display: none;
    }
  }
}