.services {
  overflow: hidden;
  &__sliders {
    @include screen(tablet) {
      display: grid;
      align-items: center;
      gap: 80px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include screen(laptop) {
      gap: 128px;
    }
  }
  &__slider {
    grid-column: span 1 / span 1;
  }
  &__images {
    max-height: 324px;
    overflow: hidden;
    display: none;
    border-radius: 8px;
    user-select: none;
    .swiper {
      &-slide {
        transition: opacity 0.4s;
      }
    }
    @include screen(tablet) {
      display: block;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      max-height: 222px;
      object-fit: cover;
      @include screen(laptop) {
        max-height: 324px;
      }
    }
  }
  &__texts {
    overflow: visible;
    .swiper {
      &-wrapper {
        flex-direction: column;
        transform: translate3d(0, 0, 0) !important;
      }
      &-slide {
        position: relative;

        text-transform: uppercase;
        transition: color $transition-default;
        cursor: pointer;
        padding: 24px 0;
        @include h2-inter;
        @include screen(tablet) {
          @include h2;
        }
        @include screen(laptop) {
          padding: 32px 0;
        }
        &-active {
          color: $yellow;
        }
        &:after {
          content: "";
          right: 0;
          width: 100%;

          position: absolute;
          bottom: 0;
          left: 0;

          height: 1px;

          background-color: $neutral-200;
          @include screen(tablet) {
            width: 9999px;
            right: -9999px;
          }
        }
      }
    }
  }
}