.services {
  overflow: hidden;
  &__sliders {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 128px;
  }
  &__slider {
    grid-column: span 1 / span 1;
  }
  &__images {
    max-height: 324px;
    overflow: hidden;

    border-radius: 8px;
    user-select: none;
    .swiper {
      &-slide {
        transition: opacity 0.4s;
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      max-height: 324px;
      object-fit: cover;
    }
  }
  &__texts {
    overflow: visible;
    .swiper {
      &-wrapper {
        flex-direction: column;
        transform: translate3d(0, 0, 0) !important;
      }
      &-slide {
        position: relative;

        padding: 32px 0;

        font-size: 32px;
        line-height: 46px;
        text-transform: uppercase;

        transition: color $transition-default;
        cursor: pointer;
        &-active {
          color: $yellow;
        }
        &:after {
          content: "";

          position: absolute;
          right: -9999px;
          bottom: 0;
          left: 0;

          width: 9999px;
          height: 1px;

          background-color: $neutral-200;
        }
      }
    }
  }
}