.slogan {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__text {
    display: flex;
    gap: 16px;

    @include xl-bold-actay;
    &-left {
      flex-direction: column;
      gap: 0;
      span {
        align-self: flex-start;
        color: $yellow;
        @include screen(tablet) {
          justify-content: flex-end;
        }
      }
      @include screen(tablet) {
        gap: 16px;
        flex-direction: row;
      }
    }
    &-right {
      justify-content: flex-start;
      @include screen(tablet) {
        justify-content: flex-end;
      }
    }
    @include actay-wide;
  }
}