.slogan {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__text {
    display: flex;
    gap: 16px;

    @include xl-bold-actay;
    &-left {
      span {
        color: $yellow;
      }
    }
    &-right {
      justify-content: flex-end;
    }
    @include actay-wide;
  }
}