extends ../layouts/master

block title
  title Свобода фитнес | Запись в блоге

block basicSeo
  meta(content="Запись в блоге" name="description")
  meta(content="Запись в блоге" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="article")
        .wrapper
          .headline
            +breadcrumbs([ { title: 'Блог', href: '/blog/' }, { title: 'Запись', href: '' } ])
            +subtitle('01.', 'Запись')
          .pusher
            include ../components/article