extends ../layouts/master

block title
  title Свобода фитнес | Расписание

block basicSeo
  meta(content="Расписание" name="description")
  meta(content="Расписание" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="schedule")
        .wrapper
          .headline
            +breadcrumbs([ { title: 'Расписание', href: '' } ])
            +subtitle('01.', 'Расписание')
        .pusher
          include ../components/schedule