extends ./layouts/master

block title
  title Свобода фитнес | Главная

block basicSeo
  meta(content="Главная страница" name="description")
  meta(content="Главная, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="./manifest.json" rel="manifest" crossorigin)
  meta(content="./browserconfig.xml" name="msapplication-config")

block content
  main
    .barba(data-barba="wrapper")
      .barba-container(data-barba="container" data-barba-namespace="main")
        .pusher
          include ./components/hero
          include ./components/services
          section.plans
            .wrapper
              .plans__wrapper
                .headline
                  +subtitle('02.', 'АБОНЕМЕНТЫ')
                include ./components/plans
          include ./components/slogan
          include ./components/gallery
          include ./components/reviews
          include ./components/faq