.breadcrumbs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding-left: 34px;
    @include screen(laptop) {
      padding-left: 53px;
      gap: 16px;
    }
    a,
    span {
      display: inline-block;

      font-weight: 500;
      color: $neutral-100;

      transition: color $transition-default;
      @include body-1;
    }
    a {
      display: flex;
      align-items: center;

      @include screen(laptop) {
        &:hover {
          color: $yellow;
          span {
            color: $yellow;
          }
        }
      }
    }
  }
}