.subtitle {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  text-transform: uppercase;
  span {
    margin-bottom: 8px;

    color: $neutral-200;
    @include label-h-numbering;
  }
  p {
    @include h1-actay;
  }
}