@import "./utils/reset"; // Если "@tailwind base" подключён ниже, то этот импорт не нужен.

/*
  Базовые стили и утилиты
*/
@import "./base/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/global";

/*
  Шрифты и типография
*/
@import "./base/fonts";
@import "./base/typography";

/*
  Миксины
*/

/*
  Компоненты
*/
@import "./components/header";
@import "./components/footer";
@import "./components/not-found";