@import "./utils/reset";

/*
  Базовые стили и утилиты
*/
@import "./base/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/global";

/*
  Шрифты и типография
*/
@import "./base/fonts";
@import "./base/typography";

/*
  Миксины
*/
@import "./mixins/subtitle";
@import "./mixins/breadcrumbs";

/*
  Компоненты
*/
@import "./components/header";
@import "./components/footer";
@import "./components/not-found";

@import "./components/article.scss";
@import "./components/blog.scss";
@import "./components/coaches.scss";
@import "./components/contacts.scss";
@import "./components/faq.scss";
@import "./components/footer.scss";
@import "./components/gallery.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/not-found.scss";
@import "./components/order.scss";
@import "./components/plans.scss";
@import "./components/popup.scss";
@import "./components/reviews.scss";
@import "./components/schedule.scss";
@import "./components/services.scss";
@import "./components/slogan.scss";
@import "./components/headline.scss";