section.coaches
  .wrapper
    .coaches__subtitle 
      span Персональные тренеры
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2057.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2064.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2074.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2081.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2093.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2099.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2101.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2124.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2139.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2150.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2174.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Своюода фитнес2185.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
    .coaches__subtitle 
      span Групповые тренеры
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Своюода фитнес1998.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Своюода фитнес2014.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Своюода фитнес2026.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Своюода фитнес2030.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
    .coaches__subtitle 
      span Администрания
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/admin/Своюода фитнес2111.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание