section.coaches
  .coaches__wrapper
    .coaches__item
      button.coaches__photo(type="button")
        img(src="/assets/images/coach.png" alt="coach")
        .coaches__more.popup-trigger(data-popup-button="coach") Подробнее
      .coaches__content
        .coaches__title Паров Александр
        .coaches__quote «Цитата»
    .coaches__item
      button.coaches__photo(type="button")
        img(src="/assets/images/coach.png" alt="coach")
        .coaches__more.popup-trigger(data-popup-button="coach") Подробнее
      .coaches__content
        .coaches__title Паров Александр
        .coaches__quote «Цитата»
    .coaches__item
      button.coaches__photo(type="button")
        img(src="/assets/images/coach.png" alt="coach")
        .coaches__more.popup-trigger(data-popup-button="coach") Подробнее
      .coaches__content
        .coaches__title Паров Александр
        .coaches__quote «Цитата»
    .coaches__item
      button.coaches__photo(type="button")
        img(src="/assets/images/coach.png" alt="coach")
        .coaches__more.popup-trigger(data-popup-button="coach") Подробнее
      .coaches__content
        .coaches__title Паров Александр
        .coaches__quote «Цитата»
    .coaches__item
      button.coaches__photo(type="button")
        img(src="/assets/images/coach.png" alt="coach")
        .coaches__more.popup-trigger(data-popup-button="coach") Подробнее
      .coaches__content
        .coaches__title Паров Александр
        .coaches__quote «Цитата»
    .coaches__item
      button.coaches__photo(type="button")
        img(src="/assets/images/coach.png" alt="coach")
        .coaches__more.popup-trigger(data-popup-button="coach") Подробнее
      .coaches__content
        .coaches__title Паров Александр
        .coaches__quote «Цитата»