section.coaches
  .wrapper
    .coaches__subtitle 
      span Персональные тренеры
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Бачерова_Алина.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Бачерова Алина
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Глазкова_Дарья.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Глазкова Дарья
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Малашин_Александр.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Малашин Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Маркин_Николай.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Маркин Николай
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Петров_Кирилл.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Петров Кирилл
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Постникова_Светлана.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Постникова Светлана
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Сарибжанов_Дамир.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Сарибжанов Дамир
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Сивак_Роман.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Сиван Роман
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Собцов_Дмибрий.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Собцов Дмибрий
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Трофимов_Алексей.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Трофимов Алексей
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Хабарова_Наталья.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Хабарова Наталья
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Экснер_Сергей.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Экснер Сергей
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo.coaches__default(type="button")
          .coaches__noimage
            .coaches__logo 
              img(src="/assets/images/logo.svg", alt="logo")
            img(src="/assets/images/no-image.svg" alt="no-image")
        .coaches__content
          .coaches__title Экснер Сергей
          .coaches__quote Короткое описание
    .coaches__subtitle 
      span Групповые тренеры
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Кожухова_Елена.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Кожухова Елена
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Ерасова_Ольга.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Ерасова Ольга
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Аракелян_Аракел.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Аракелян Аракел
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/group/Савельева_Тамара.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Савельева Тамара
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/power/Бачерова_Алина.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Бачерова Алина
          .coaches__quote Короткое описание
    .coaches__subtitle 
      span Администрация
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coaches/admin/Сукиасян_Тигран.jpg" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Сукиасян Тигран
          .coaches__quote Короткое описание
include ./popup-coach