section.coaches
  .wrapper
    .coaches__subtitle 
      span Персональные тренеры
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
    .coaches__subtitle 
      span Групповые тренеры
    .coaches__wrapper
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание
      .coaches__item
        button.coaches__photo(type="button")
          img(src="/assets/images/coach.png" alt="coach")
          .coaches__more.popup-trigger(data-popup-button="coach") 
            span Подробнее
        .coaches__content
          .coaches__title Паров Александр
          .coaches__quote Короткое описание