section.faq
  .wrapper
    .faq__wrapper
      +subtitle('03.', 'ОСТАЛИСЬ ВОПРОСЫ?')
      .faq__buttons
        button.faq__button.active(type="button" data-id="1") АБОНЕМЕНТ
        button.faq__button(type="button" data-id="2") ОПЛАТА
        button.faq__button(type="button" data-id="3") ТРЕНИРОВКИ
      .faq__containers
        .faq__container.active(data-id="1")
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
        .faq__container(data-id="2")
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
        .faq__container(data-id="3")
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              span.material-symbols-outlined expand_more
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.