section#faq.faq
  .wrapper
    .faq__wrapper
      .headline
        +subtitle('03.', 'ОСТАЛИСЬ <p>ВОПРОСЫ?</p>', 'h2')
      .faq__buttons
        button.faq__button.active(type="button" data-id="1") АБОНЕМЕНТ
        button.faq__button(type="button" data-id="2") ОПЛАТА
        button.faq__button(type="button" data-id="3") ТРЕНИРОВКИ
      .faq__containers
        .faq__container.active(data-id="1")
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
        .faq__container(data-id="2")
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 2?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
        .faq__container(data-id="3")
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.
          .faq__question
            .faq__header
              h3 Как получить бесплатную тренировку с тренером 3?
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
              </svg>
            .faq__body
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum qui ullam atque perspiciatis expedita possimus assumenda repellendus repellat, iure quibusdam, esse molestiae. Ipsam, porro voluptas. Ut, labore odit. Ea, cumque.