section.gallery
  .wrapper
    .gallery__wrapper
      .swiper.gallery__slider
        .swiper-wrapper
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery-1.png" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/hero-bg.png" alt="hero-bg")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery-1.png" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/hero-bg.png" alt="hero-bg")
        .swiper-pagination