section.gallery#gallery
  .wrapper
    .gallery__wrapper
      .swiper.gallery__slider
        .swiper-wrapper
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-1.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-2.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-3.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-4.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-5.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-6.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-7.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-8.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-9.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-10.jpg" alt="gallery")
          .swiper-slide
            .gallery__slide
              img(src="/assets/images/gallery/gallery-11.jpg" alt="gallery")
        .swiper-pagination