header.header
  .wrapper
    .header__wrapper
      nav.header__menu
        a.header__link(href="#") Абонементы
        a.header__link(href="#") Тренеры
        a.header__link(href="#") Блог
        a.header__link(href="#") Контакты
        a.header__link(href="#") Расписание
      button.header__button(type="button") Купить абонемент