header.header
  .wrapper
    .header__wrapper
      nav.header__menu
        a(href="#").header__link Абонементы
        a(href="#").header__link Тренеры
        a(href="#").header__link Блог
        a(href="#").header__link Контакты
        a(href="#").header__link Расписание
      button(type="button").header__button Купить абонемент