header.header
  .wrapper
    .header__wrapper
      nav.header__menu
        a.header__logo(href="/")
          img(src="/assets/images/logo.svg" alt="logo")
        a.header__link(href="/plans/") Абонементы
        a.header__link(href="/coaches/") Тренеры
        a.header__link(href="/schedule/") Расписание
        a.header__link(href="/blog/") Блог
        a.header__link(href="/contacts/") Контакты
      a.header__button(href="/plans/") Купить абонемент