section.hero
  .hero__bg
    img(src="/assets/images/hero-bg.png" alt="hero-bg")
  .wrapper
    .hero__wrapper
      h1.hero__title ЗДЕСЬ <br> РОЖДАЕТСЯ <br> <span>СИЛЬНОЕ</span> <br> И <span>ЗДОРОВОЕ</span> ТЕЛО