section.not-found
  .wrapper
    .not-found__wrapper
      h1.not-found__title 404
      p.not-found__text Страница не найдена или ещё не создана.
      .not-found__links
        a.not-found__link(href="/") На главную
        a.not-found__link(href="/plans/") Абонементы
        a.not-found__link(href="/schedule/") Расписание
        a.not-found__link(href="/#services") Услуги