.wrapper
  .swiper.plans__slider
    .swiper-wrapper
      .swiper-slide
        .plans__slide
          .plans__header
            .plans__title 3 МЕСЯЦА
            .plans__price 13 000 ₽
          .plans__footer
            ul
              li Безлимитное посещение
              li Бесплатная тренировка с&nbsp;тренером
              li Безлимитные групповые тренировки
            a(href="/order/" data-plan-id="1").plans__button Купить
      .swiper-slide
        .plans__slide.plans__slide-annual
          .plans__header
            .plans__title ГОДОВОЙ
              span Лучший выбор
            .plans__price 22 000 ₽
          .plans__footer
            ul
              li Безлимитное посещение
              li Бесплатная тренировка с&nbsp;тренером
              li Безлимитные групповые тренировки
            a(href="/order/" data-plan-id="2").plans__button Купить
      .swiper-slide
        .plans__slide
          .plans__header
            .plans__title 6 МЕСЯЦЕВ
            .plans__price 16 000 ₽
          .plans__footer
            ul
              li Безлимитное посещение
              li Бесплатная тренировка с&nbsp;тренером
              li Безлимитные групповые тренировки
            a(href="/order/" data-plan-id="3").plans__button Купить
      .swiper-slide
        .plans__slide
          .plans__header
            .plans__title 1 МЕСЯЦ
            .plans__price 7500 ₽
          .plans__footer
            ul
              li Безлимитное посещение
              li Бесплатная тренировка с&nbsp;тренером
              li Безлимитные групповые тренировки
            a(href="/order/" data-plan-id="4").plans__button Купить