.popup.popup-coach-booking(data-popup="coach-booking")
  .popup__wrapper
    .popup__container
      .popup__close
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 6L6 18M6 6L18 18" stroke="#E6E6E6" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      .popup__inner
        .popup__image
          img(src="/assets/images/coach.png" alt="coach")
        .popup__content 
          .popup__heading
            .popup__title SUPER SCULPT
            .popup__date Понедельник, 29 января
            .popup__time 12:00
          .popup__items
            .popup__item
              .popup__subtitle Тренер
              ul 
                li Александр Паров
            .popup__item
              .popup__subtitle О программе
              ul 
                li Силовая групповая тренировка включает комплекс упражнений для развития и укрепления основных мышц тела человека с использованием дополнительного оборудования. Рекомендуется для всех уровней подготовленности
          a(href="/booking/").popup__button Записаться