.popup.popup-coach(data-popup="coach")
  .popup__wrapper
    .popup__container
      .popup__close 
        span.material-symbols-outlined close
      .popup__image
        img(src="/assets/images/coach.png" alt="coach")
      .popup__content 
        .popup__heading
          .popup__title Паров Александр
          .popup__description Персональный тренер по фитнесу и пауэрлифтингу
        .popup__items
          .popup__item
            .popup__subtitle Специализация
            ul 
              li МС по пауэрлфитнгу WPC, WRPF, WPU
              li Призер чемпионатов Москвы и МО
              li Чемпион мира WP
              li Развитие силовых способностей и увеличение мышечной массы
          .popup__item
            .popup__subtitle Спортивные достижения
            ul 
              li МС по пауэрлфитнгу WPC, WRPF, WPU
              li Призер чемпионатов Москвы и МО
          .popup__item
            .popup__subtitle Образование
            ul 
              li Академия бодибилдинга и фитнеса