section.reviews
  .wrapper
    .reviews__wrapper
      .swiper.reviews__slider
        .swiper-wrapper
          .swiper-slide
            .reviews__slide
              .reviews__header
                .reviews__image
                  img(src="/assets/images/avatar.png" alt="avatar")
                h3.reviews__title НИКОЛАЙ
                .reviews__text Отличный фитнес. Всегда есть свободные беговые дорожки, много тренажёров, классные тренеры. Супер вентиляция, что очень редко для фитнеса. Свежо и комфортно заниматься.
              .reviews__footer
                .reviews__source Отзыв на Яндекс.Картах
                .reviews__rating
                  span ОЦЕНКА:
                  p 4.8
          .swiper-slide
            .reviews__slide
              .reviews__header
                .reviews__image
                  img(src="/assets/images/avatar.png" alt="avatar")
                h3.reviews__title НИКОЛАЙ
                .reviews__text Отличный фитнес. Всегда есть свободные беговые дорожки, много тренажёров, классные тренеры. Супер вентиляция, что очень редко для фитнеса. Свежо и комфортно заниматься.
              .reviews__footer
                .reviews__source Отзыв на Яндекс.Картах
                .reviews__rating
                  span ОЦЕНКА:
                  p 4.8
          .swiper-slide
            .reviews__slide
              .reviews__header
                .reviews__image
                  img(src="/assets/images/avatar.png" alt="avatar")
                h3.reviews__title НИКОЛАЙ
                .reviews__text Отличный фитнес. Всегда есть свободные беговые дорожки, много тренажёров, классные тренеры. Супер вентиляция, что очень редко для фитнеса. Свежо и комфортно заниматься.
              .reviews__footer
                .reviews__source Отзыв на Яндекс.Картах
                .reviews__rating
                  span ОЦЕНКА:
                  p 4.8