section.schedule 
  .wrapper 
    .schedule__wrapper 
      //- .schedule__mobfilter 
      //-   p Фильтры
      //-   span.hidden 0
      //-   <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-     <path d="M6.5 12.5H18.5M3.5 6.5H21.5M9.5 18.5H15.5" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      //-   </svg>
      //- .schedule-filters
        .wrapper
          .schedule-filters__wrapper
            h6 Фильтры
            label.schedule__filter
              input.schedule__input(type="text" name="coach")
              .schedule__selected.schedule__filter-coach
                .schedule__value(data-text="Тренер") Тренер
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
                </svg>
              .schedule__list 
                .schedule__list__item Тренер 1
                .schedule__list__item Тренер 2
            label.schedule__filter.schedule__filter-title
              input.schedule__input(type="text" name="training")
              .schedule__selected
                .schedule__value(data-text="Занятие") Занятие
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
                </svg>
              .schedule__list 
                .schedule__list__item Занятие 1
                .schedule__list__item Занятие 2
            label.schedule__filter.schedule__filter-time
              input.schedule__input(type="text" name="coach")
              .schedule__selected
                .schedule__value(data-text="Время начала") Время начала
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
                </svg>
              .schedule__list 
                .schedule__list__item 10:00 - 11:00
                .schedule__list__item 11:00 - 12:00
            label.schedule__filter.schedule__filter-type
              input.schedule__input(type="text" name="coach")
              .schedule__selected
                .schedule__value(data-text="Платные и бесплатные") Платные и бесплатные
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 9L12 15L18 9" stroke="#5C5C5C" stroke-width="1.5"/>
                </svg>
              .schedule__list 
                .schedule__list__item Платные
                .schedule__list__item Бесплатные
        button(type="button").schedule__clear Очистить фильтр
        button(type="button").schedule__close 
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.5 6L6.5 18M6.5 6L18.5 18" stroke="#020202" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      include ./schedule-table
include ./popup-coach-booking