.schedule-table
  .schedule-table__times
    .schedule-table__time
      time 10:00
    .schedule-table__time
      time 11:00
    .schedule-table__time
      time 12:00
    .schedule-table__time
      time 13:00
    .schedule-table__time
      time 14:00
    .schedule-table__time
      time 15:00
    .schedule-table__time
      time 16:00
    .schedule-table__time
      time 17:00
    .schedule-table__time
      time 18:00
    .schedule-table__time
      time 19:00
    .schedule-table__time
      time 20:00
  .swiper.swiper-schedule.schedule-table__slider
    .swiper-wrapper
      .swiper-slide
        .schedule-table__slide.schedule-table__slide-disabled
          .schedule-table__head
            h6.schedule-table__day Понедельник
            time.schedule-table__date 21 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.schedule-table__training-disabled.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.schedule-table__training-disabled.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" name="scroll").schedule-table__training
            .schedule-table__button
              span Ближайшее занятие
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
      .swiper-slide
        .schedule-table__slide.schedule-table__slide-today
          .schedule-table__head
            h6.schedule-table__day Вторник
            time.schedule-table__date 22 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
      .swiper-slide
        .schedule-table__slide
          .schedule-table__head
            h6.schedule-table__day Среда
            time.schedule-table__date 23 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 11:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
      .swiper-slide
        .schedule-table__slide
          .schedule-table__head
            h6.schedule-table__day Четверг
            time.schedule-table__date 24 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
      .swiper-slide
        .schedule-table__slide
          .schedule-table__head
            h6.schedule-table__day Пятница
            time.schedule-table__date 25 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
      .swiper-slide
        .schedule-table__slide
          .schedule-table__head
            h6.schedule-table__day Суббота
            time.schedule-table__date 26 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button").schedule-table__training-empty
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
      .swiper-slide
        .schedule-table__slide
          .schedule-table__head
            h6.schedule-table__day Воскресенье
            time.schedule-table__date 27 января
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет
          button(type="button" data-popup-button="coach-booking").schedule-table__training.popup-trigger
            .schedule-table__inner
              .schedule-table__when 10:00
              .schedule-table__body
                .schedule-table__name SUPER SCULPT
                .schedule-table__author Бачерова Алина
              .schedule-table__footer
                .schedule-table__length
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" stroke="#5C5C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  span 55 мин
                .schedule-table__dot
                .schedule-table__currency ₽
                .schedule-table__dot
                .schedule-table__avalibility Мест нет