section#services.services
  .services__bg 
    img(src="/assets/images/services-bg.webp", alt="sevices-bg")
  .wrapper
    .services__wrapper
      .headline
        +subtitle('01.', 'УСЛУГИ', 'h2')
      .services__sliders
        .services__slider
          .swiper.services__images
            .swiper-wrapper
              .swiper-slide
                .services__image
                  img(src="/assets/images/services/services-1.webp" alt="services-1")
              .swiper-slide
                .services__image
                  img(src="/assets/images/services/services-2.webp" alt="services-3")
              .swiper-slide
                .services__image
                  img(src="/assets/images/services/services-3.webp" alt="services-2")
        .services__slider
          .swiper.services__texts
            .swiper-wrapper
              a(href="#gallery").swiper-slide ТРЕНАЖЕРНЫЙ ЗАЛ
              a(href="/schedule/").swiper-slide ГРУППОВЫЕ ЗАНЯТИЯ
              a(href="/coaches/").swiper-slide ПЕРСОНАЛЬНЫЕ ТРЕНИРОВКИ