section#services.services
  .wrapper
    .services__wrapper
      .headline
        +subtitle('01.', 'УСЛУГИ', 'h2')
      .services__sliders
        .services__slider
          .swiper.services__images
            .swiper-wrapper
              .swiper-slide
                .services__image
                  img(src="/assets/images/services-1.png" alt="services-1")
              .swiper-slide
                .services__image
                  img(src="/assets/images/hero-bg.png" alt="services-2")
              .swiper-slide
                .services__image
                  img(src="/assets/images/services-3.png" alt="services-3")
        .services__slider
          .swiper.services__texts
            .swiper-wrapper
              .swiper-slide ТРЕНАЖЕРНЫЙ ЗАЛ
              .swiper-slide ГРУППОВЫЕ ЗАНЯТИЯ
              .swiper-slide ПЕРСОНАЛЬНЫЕ ТРЕНИРОВКИ